version: '3'

services:
  mongodb:
    image: mongo:4.4
    container_name: mongodb_face
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: Admin123
      MONGO_INITDB_DATABASE: admin
    ports:
      - "27020:27017"
    volumes:
      - ./mongo-data:/data/db
      - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    networks:
      - face_network

networks:
  face_network:
    driver: bridge
